<!DOCTYPE html>
<html>
   <head>
      <title>Clima - 404</title>
      <link rel="icon" href="http://f.cl.ly/items/1J0Y1N1I441v1E2k3e2W/weather.png">
      <link rel='stylesheet' href='/css/styles.css'>
   </head>
   <body>
      <div class="main-content">
         {{>header}}
         <p>{{message}}</p>
      </div>
      {{>footer}}
   </body>
</html>
