<!DOCTYPE html>
<html>
   <head>
      <title>Clima - Sobre</title>
      <link rel="icon" href="http://f.cl.ly/items/1J0Y1N1I441v1E2k3e2W/weather.png">
      <link rel='stylesheet' href='/css/styles.css'>
   </head>
   <body>
      <div class="main-content">
         {{>header}}
         <img style="width: 260px" src='http://f.cl.ly/items/0L2l2K3f3e1H2o1O3p0f/robot.png'>
      </div>
      {{>footer}}
   </body>
</html>
