<header>
   <h1>{{title}}</h1>
   <nav>
      <a href="/">Clima</a>
      <div class="div-bar"></div>
      <a href="/sobre">Sobre</a>
      <div class="div-bar"></div>
      <a href="/ajuda">Ajuda</a>
   </nav>
</header>
